<!-- Start Comments Section -->
    <div class="comments">
        <div class="top">
            <div class="userDetails">
                <div class="comment-data">
                    <div class="profilepic">
                        <div class="profile_img">
                            <div class="image">
                                <!-- User Profile Image -->
                                <img src="/static/images/person.png" alt="img8">
                            </div>
                        </div>
                    </div>
                    <p>
                        <!-- Link to User Profile Details Page-->
                        <!-- User First and/or Last Name or username-->
                        <a href="">Steven Ivanov</a>
                        <!-- User Comment -->
                        - OMG where can i get one
                    </p>
                </div>
                <span>Sept. 20, 2022, 5:02 p.m.</span>
            </div>
        </div>
    </div>
    <!-- End Comments Section -->
</div>